
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-purp {
  color: #fff;
  background-color: #4b16ad;
}

.bg-purp a {
  color: #fff;
}

a {
  color: #4b16ad; 
}
a:hover, a:focus, a:active {
  color: #2e0d69; 
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
